.share
  width 100%

.selfFace
.companionFace
  position fixed

.selfFace
  width 40%
  height 40%

.companionFace
  top 0
  left 0
  right 0
  bottom 0

.monitor
  position absolute
  right 10px
  bottom 10px
  background-color var(--accent-color-alpha-100)
  padding 10px
  border-radius 8px
  min-width 50px
