<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="robots" content="index" />

    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- <meta
      property="og:title"
      content="<%= htmlWebpackPlugin.options.title %>"
    />
    <meta
      property="og:description"
      content="Photo editor powered by Web technologies"
    />
    <meta
      property="og:image"
      content="<%= htmlWebpackPlugin.options.domain %>/assets/apple-touch-icon.png"
    />
    <meta property="og:image:height" content="50" />
    <meta property="og:image:width" content="50" /> -->

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <!-- <meta
      name="google-site-verification"
      content="4l38XsW4qU24ujvAkgLJ_FLhFBzNw7rXEqJTgZJ0xl0"
    /> -->

    <link rel="stylesheet" href="/assets/common.css" />
  </head>
  <body>
    <div id="app-root"></div>
    <div id="app-modal"></div>
  </body>
</html>
